.viewport {
    margin-top: 100px;
    -webkit-perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
    -webkit-transform: scale(0.75,0.75);
    -moz-perspective: 800px;
    -moz-perspective-origin: 50% 200px;
    -moz-transform: scale(0.75,0.75);
    perspective: 800px;
    perspective-origin: 50% 200px;
    transform: scale(0.75,0.75);
}

#cube1 {
    height: 300px;
    width: 300px;
}

.unicube {
    position: relative;
    margin: 0 auto 100px;
    -webkit-transition: -webkit-transform 50ms linear;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transition: -moz-transform 50ms linear;
    -moz-transform-style: preserve-3d;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transition: transform 50ms linear;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
}

.unicube:hover {
    cursor: pointer;
}

.unicube > div {
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(30, 30, 30, 1);
    font-size: 2em;
    text-align: center;
    line-height: 1em;
    color: #fff;
    border: 1px solid #555;
    border-radius: 3px;
}